ci:
  autoupdate_schedule: monthly
  autofix_commit_msg: "style(pre-commit.ci): auto fixes [...]"
  autoupdate_commit_msg: "ci(pre-commit.ci): autoupdate"

exclude: "^typings/"

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.3
    hooks:
      - id: typos
        args: [--force-exclude] # omitting --write-changes

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: local
    hooks:
      - id: pyright
        stages: [manual]
        exclude: "^docs/"
        name: pyright
        language: system
        types_or: [python, pyi]
        require_serial: true
        entry: uv run pyright
