name: pre-commit
on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: write

jobs:
  prek:
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - uses: astral-sh/setup-uv@v7
      - run: uv run prek run --all-files
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "[auto] apply prek fixes"
